header{
    top: 0;
}

section{
    width: 100%; height: 100vh;
    text-align: center;
}
section h2{
    position: relative;
    padding-top: 10%;
}
section h3{
    position: relative;
    margin-top: 3%;
    font-weight: normal;
}
article img{
    width: 30%;
}
article{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
article div{
    text-align: left;
    margin-top: 8%;
    line-height: 300%;
    font-size: 30px;
    font-family: 'SangSangMullaelerOTF';
    font-weight: bold;
}

#bg{
margin-top: 10%; margin-bottom: 5%;
}